#!/bin/sh

#-----------------------------------------------------------------------------#
# File:     ~/.xprofile (archlinux @ 'silent')
# Date:     Wed 01 Sep 2021 22:18
# Update:   Wed 08 Sep 2021 00:29
# Owner:    fvb - freekvb@gmail.com - https://freekvb.github.io/fvb/
#-----------------------------------------------------------------------------#


xrandr --output HDMI-1 --mode 1920x1080
xsetroot -cursor_name left_ptr
setxkbmap -option caps:escape
xset dpms 600 600 600
xset r rate 750 50

udiskie &
dunst &
picom &
#slstatus &
dwmblocks &
clipmenud &
mega-cmd-server &
unclutter --timeout 2 &
pamixer --set-volume 35 &
feh --no-fehbg --bg-fill '/home/fvb/Pictures/red_girl_mirror.jpg' &
