#!/bin/sh

#-----------------------------------------------------------------------------#
# File:     ~/.xprofile (archlinux @ 'silent')
# Date:     Wed 01 Sep 2021 22:18
# Update:   Mon 08 Jul 2024 22:07
# Owner:    fvb - freekvb@gmail.com - https://freekvb.github.io/fvb/
#-----------------------------------------------------------------------------#


# start some nice programs

if [ -d /etc/X11/xinit/xinitrc.d ] ; then
 for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
  [ -x "$f" ] && . "$f"
 done
 unset f
fi

mpv --no-video $HOME/.config/sounds/sweep.mp3 &
xsetroot -cursor_name left_ptr &
xset dpms 1800 1800 1800 &
xset r rate 750 50 &
xset s off &

picom &
dunst &
udiskie &
clipmenud &
$HOME/.fehbg &
unclutter --timeout 2 &

