#!/usr/bin/sh

#-----------------------------------------------------------------------------#
# File:     ~/.xprofile (archlinux @ 'silent')
# Date:     Wed 01 Sep 2021 22:18
# Update:   Sat 09 Dec 2023 05:38
# Owner:    fvb - freekvb@gmail.com - https://freekvb.github.io/fvb/
#-----------------------------------------------------------------------------#


mpv --no-video $HOME/.config/sounds/sweep.mp3 &
xsetroot -cursor_name left_ptr &
xset dpms 1800 1800 1800 &
xset r rate 750 50 &
xset s off &

picom &
dunst &
udiskie &
clipmenud &
$HOME/.fehbg &
mega-cmd-server &
unclutter --timeout 2 &
pamixer --set-volume 30 &

